/*HEADER*/
header {
    background-color: beige;
    max-width: 100%;
}

nav {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
    margin-bottom: 40px;
}

nav button {
    
    background-color: khaki;
    border-radius: 25%;
    border: none;
    margin-left: 5px;
    color: brown;
    
}

.bottoni {
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: 900px;
}

#shop {
    
    height: 60px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: medium;
}

nav img {
    width: 25px;
    padding-right: 5px;
    padding-left: 2px;
}


/*Main*/

h2 {
    color: brown;
    font-size: xx-large ;
    font-weight: bolder;
}

main button {
    background-color: khaki;
    color: brown;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.vetrina {
    display: flex;
    justify-content:flex-start;
    
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
   
    margin-bottom: 30px;
    background-color: beige;
    border-radius: 20%;
    overflow: hidden;
    color: brown;
}

.product-card h4 {
    margin-bottom: 0;
}

.product-card img {
    width: 100%;
}

#info {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

#info h2 {
    margin-bottom: 0;
}

#info p {
    margin-top: 0;
}

.fixer {
    display: flex;
    align-items: center;
}

.prezzo {
    margin-left: 20px;
}

/*section*/

#description {
    background-color: beige;
    color: brown;
    margin-left: 10px;
}

#description h3 {
    font-weight: bolder;
    font-size: x-large;
    margin-left: 10px;
}

#description p {
    margin-left: 10px;
}

#description img {
    max-width: 100%;
    margin: 10px;
}

